.home-background{
    background-image:url("images/home2.jpg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}